* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #ff4b2b, #ff416c);
}
.menu {
  position: relative;
  width: 90px;
  height: 90px;
  display: inline-flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 25px;
  flex-direction: column;
}
.menu-input {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.menu-line {
  width: 100%;
  background: #fff;
  height: 6px;
  display: block;
  transition: transform 0.4s cubic-bezier(0.54, -0.81, 0.57, 0.57);
  position: relative;
}
.first,
.third {
  width: 50%;
}
.third {
  margin-left: 50%;
  transform-origin: left;
}
.menu-input:checked ~ .first {
  transform: translate(2px, 10px) rotate(-135deg);
}
.menu-input:checked ~ .second {
  transform: rotate(-45deg);
}
.menu-input:checked ~ .third {
  transform: translate(13px, -2px) rotate(-135deg);
}
